/* helpers/grid.css */

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 48em;
}

/* helpers/sticky.css */

.sticky {
  position: sticky;
  will-change: transform;
}

.sticky--top {
  top: 0;
}

/* layout/base.css */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  margin: 0;
  min-block-size: 100vh;
}

/* layout/header.css */

.header {
  background-color: #fff;
  padding-block: 1em;
}


.header::after {
  bottom: 0;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.header.is-active::after {
  opacity: 1;
}

/* layout/main.css */

.main {
  padding-block: 6em;
}

/* modules/headline.css */

h1 {
  margin-block: 0 0.5em;
}

/* modules/navigation.css */

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__list--inline {
  display: flex;
  gap: 1.5em;
}

.navigation__link {
  pointer-events: fill;
  fill: black;
  color: inherit;
  display: block;
  padding-inline: 1em;
  text-decoration: none;
}


/* modules/paragraph.css */

p {
  padding-block: 1.5em;
}

.navigation__link:hover{
  background-color: #000;
  border-radius: 999em;
  color: #fff;
}
.height{
        height: 100vh;
       }


.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{

  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;

}


.search input:focus{

  box-shadow: none;
  border: 2px solid blue;


}

.search .fa-search{

  position: absolute;
  top: 20px;
  left: 16px;

}

.btn{
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
  color: white;
}
