[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "~=7.2.0"
selenium = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
