<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script type='text/javascript' src='../static/js/stylno_modno.js'></script>
  </head>
  <body>
  <header class="header sticky sticky--top js-header">

  <div class="grid">

    <nav class="navigation">
      <ul class="navigation__list navigation__list--inline">
        <li class="navigation__item"><a href="http://127.0.0.1:5000/report" class="navigation__link">Home</a></li>
        <li class="navigation__item"><a href="http://127.0.0.1:5000/report/drivers" class="navigation__link">Drivers</a></li>
        <li class="navigation__item"><a href="http://127.0.0.1:5000/report/drivers?order=desc" class="navigation__link">Drivers desc</a></li>
      </ul>
    </nav>

  </div>

  </header>
  {% block main %}{% endblock %}
  </body>
</html>
