{% extends "base.html" %}


{% block title %}
    Report
{% endblock %}

{% block main %}
    <div class="container">

        <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-8">

                <div class="search buttonHolder">

                    <i class="fa fa-search"></i>

                    <form action="{{ url_for('handle_data') }}" method="post">

                        <input type="text" name="fullname" class="form-control" placeholder="Find a certain driver" size=600>
                        <input type="submit" class="btn" value="Search">

                    </form>
                </div>

            </div>

        </div>
    </div>
    {{ stack }}
{% endblock %}
